* {
  font-family: Roboto, system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  color: white;
}

.hero-header {
  color: white;
  padding-left: 4rem;
}

.grid-hero {
  height: 100svh;
  display: grid;
  gap: 4rem;
  margin: 8rem;
  margin-bottom: 0;
  grid-template-columns: 60% 1fr;
}

h1 { font-size: 4.25rem; font-weight: 900;}
h2 { font-size: 2.75rem; font-weight: 600;}
h3 { font-size: 1.625rem; font-weight: 300;}



#container3D canvas {
  width: 100% !important;
  height: auto !important;
}

/* Sticky navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #32373c;
  z-index: 10;
}

#navbar nav {
  display: flex;
  align-items: center;
  height: 4.4em;
  padding: 0 1em;
}

#navbar nav a {
  text-decoration: none;
  color: white;
  margin-right: 4em;
}

#navbar nav a:not(.fav) {
  font-size: 1.35rem;
}

#navbar nav a.fav {
  margin-right: auto;
  margin-left: 2em;
}

#navbar nav a.fav img {
  height: 4em;
}

#navbar nav a:hover {
  color: rgb(233, 160, 12);
}

.modeling {
  height: 20rem;
}